/* disenio.css */

/*Colores a utilizar*/
:root {
    --background-color: #f3f3fa;
    --text-color: #65557e;
    --input-background: #eceaf5;
    --input-border: #c6c1e0;
    --button-background: #a090c4;
    --button-text: #f3f3fa;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
}

header, main, footer {
    padding: 20px;
}

h2, h3, h4 {
    color: #7d679b;
}
h2 {
    padding-left: 33%;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #8f79b2;
}

input.Entrada {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    color: var(--text-color);
}

input.Buscar {
    background-color: var(--button-background);
    color: var(--button-text);
    padding: 10px;
    border: none;
    cursor: pointer;
}

input.Buscar:hover {
    background-color: #8f79b2;
}

footer {
    text-align: center;
    background-color: #eceaf5;
    color: #8f79b2;
    position: fixed;
    bottom: 0;
    width: 100%;
}
